---
title: Muted
---
<p class="muted" style="margin-bottom: 0;">Tight pants next level keffiyeh
  <a data-toggle="tooltip" href="#" title="Default tooltip">you probably</a>haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
  <a data-toggle="tooltip" href="#" title="Another tooltip">have a</a>terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan
  <a data-toggle="tooltip" href="#" title="Another one here too">whatever keytar</a>, scenester farm-to-table banksy Austin
  <a data-toggle="tooltip" href="#" title="The last tip!">twitter handle</a>freegan cred raw denim single-origin coffee viral.
</p>
