<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Panel Group | Bootstrap Templates</title>
    <link rel="stylesheet" href="../../assets/css/blog.css">
    <link rel="stylesheet" href="../../assets/css/docs.css">
    <link rel="stylesheet" href="../../assets/css/github.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,600,700,300|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a> 

    <!-- Navbar -->
    <header class="navbar navbar-fixed-top navbar-default" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button>
          <a href="../../index.html" class="navbar-brand">Bootstrap Templates</a> 
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="../../about.html">About</a> 
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Content -->
    <div class="container">
      <ul class="pager ">
        <li class="previous">
          <a href="panel-default-9.html">&larr; Previous</a> 
        </li>
        <li class="next">
          <a href="panel-primary-7.html">Next &rarr;</a> 
        </li>
      </ul>
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="panel-group-7">panel-group</h1> 
        </div>
      </div>
      <div class="bs-example">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" href="#collapseOne">
                  Collapsible Group Item #1
                </a> 
              </h4> 
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" href="#collapseTwo">
                  Collapsible Group Item #2
                </a> 
              </h4> 
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" class="accordion-toggle" href="#collapseThree">
                  Collapsible Group Item #3
                </a> 
              </h4> 
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS and analytics only. -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>Templates and data for Bootstrap&#x27;s components.
        </p>
        <p>Code licensed under the
          <a href="./license/" target="_blank">MIT License</a>, documentation under
          <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li>
            <a href="https://github.com/upstage/bootstrap-templates">Repo</a> 
          </li>
          <li class="muted">&middot;</li>
          <li>
            <a href="https://github.com/upstage/bootstrap-templates/issues?state=open">Issues</a> 
          </li>
          <li class="muted">&middot;</li>
          <li>
            <a href="http://assemble.io">Assemble</a> 
          </li>
        </ul>
      </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="../../assets/js/holder.js"></script>
    <script src="../../assets/js/highlight.js"></script>
  </body>
</html>
