<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>| Bootstrap Components</title>

    <!-- Core CSS -->
    <link href="../../assets/css/docs.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="../../assets/css/github.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="docs-assets/js/ie8-responsive-file-warning.js"></script>
              <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Google web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,600,700,300|Open+Sans+Condensed:300,700">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png.html">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png.html">
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../../index.html" class="navbar-brand">Bootstrap Components</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="../../about.html">About</a> </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Content -->
    <div class="container">
      <ul class="pager ">
        <li class="previous">
          <a href="../form/form-group.html">&larr; Previous</a>
        </li>
        <li class="next">
          <a href="../img/img-rounded.html">Next &rarr;</a>
        </li>
      </ul>
      <div class="bs-docs-section">
        <div class="page-header">
          <h1 id="glyphicons"></h1>
        </div>
      </div>
      <div class="bs-example">
        <ul class="the-icons clearfix">
          <li>
            <i class="glyphicon glyphicon-glass"></i>glyphicon-glass</li>
          <li>
            <i class="glyphicon glyphicon-music"></i>glyphicon-music</li>
          <li>
            <i class="glyphicon glyphicon-search"></i>glyphicon-search</li>
          <li>
            <i class="glyphicon glyphicon-envelope"></i>glyphicon-envelope</li>
          <li>
            <i class="glyphicon glyphicon-heart"></i>glyphicon-heart</li>
          <li>
            <i class="glyphicon glyphicon-star"></i>glyphicon-star</li>
          <li>
            <i class="glyphicon glyphicon-star-empty"></i>glyphicon-star-empty</li>
          <li>
            <i class="glyphicon glyphicon-user"></i>glyphicon-user</li>
          <li>
            <i class="glyphicon glyphicon-film"></i>glyphicon-film</li>
          <li>
            <i class="glyphicon glyphicon-th-large"></i>glyphicon-th-large</li>
          <li>
            <i class="glyphicon glyphicon-th"></i>glyphicon-th</li>
          <li>
            <i class="glyphicon glyphicon-th-list"></i>glyphicon-th-list</li>
          <li>
            <i class="glyphicon glyphicon-ok"></i>glyphicon-ok</li>
          <li>
            <i class="glyphicon glyphicon-remove"></i>glyphicon-remove</li>
          <li>
            <i class="glyphicon glyphicon-zoom-in"></i>glyphicon-zoom-in</li>
          <li>
            <i class="glyphicon glyphicon-zoom-out"></i>glyphicon-zoom-out</li>
          <li>
            <i class="glyphicon glyphicon-off"></i>glyphicon-off</li>
          <li>
            <i class="glyphicon glyphicon-signal"></i>glyphicon-signal</li>
          <li>
            <i class="glyphicon glyphicon-cog"></i>glyphicon-cog</li>
          <li>
            <i class="glyphicon glyphicon-trash"></i>glyphicon-trash</li>
          <li>
            <i class="glyphicon glyphicon-home"></i>glyphicon-home</li>
          <li>
            <i class="glyphicon glyphicon-file"></i>glyphicon-file</li>
          <li>
            <i class="glyphicon glyphicon-time"></i>glyphicon-time</li>
          <li>
            <i class="glyphicon glyphicon-road"></i>glyphicon-road</li>
          <li>
            <i class="glyphicon glyphicon-download-alt"></i>glyphicon-download-alt</li>
          <li>
            <i class="glyphicon glyphicon-download"></i>glyphicon-download</li>
          <li>
            <i class="glyphicon glyphicon-upload"></i>glyphicon-upload</li>
          <li>
            <i class="glyphicon glyphicon-inbox"></i>glyphicon-inbox</li>
          <li>
            <i class="glyphicon glyphicon-play-circle"></i>glyphicon-play-circle</li>
          <li>
            <i class="glyphicon glyphicon-repeat"></i>glyphicon-repeat</li>
          <li>
            <i class="glyphicon glyphicon-refresh"></i>glyphicon-refresh</li>
          <li>
            <i class="glyphicon glyphicon-list-alt"></i>glyphicon-list-alt</li>
          <li>
            <i class="glyphicon glyphicon-lock"></i>glyphicon-lock</li>
          <li>
            <i class="glyphicon glyphicon-flag"></i>glyphicon-flag</li>
          <li>
            <i class="glyphicon glyphicon-headphones"></i>glyphicon-headphones</li>
          <li>
            <i class="glyphicon glyphicon-volume-off"></i>glyphicon-volume-off</li>
          <li>
            <i class="glyphicon glyphicon-volume-down"></i>glyphicon-volume-down</li>
          <li>
            <i class="glyphicon glyphicon-volume-up"></i>glyphicon-volume-up</li>
          <li>
            <i class="glyphicon glyphicon-qrcode"></i>glyphicon-qrcode</li>
          <li>
            <i class="glyphicon glyphicon-barcode"></i>glyphicon-barcode</li>
          <li>
            <i class="glyphicon glyphicon-tag"></i>glyphicon-tag</li>
          <li>
            <i class="glyphicon glyphicon-tags"></i>glyphicon-tags</li>
          <li>
            <i class="glyphicon glyphicon-book"></i>glyphicon-book</li>
          <li>
            <i class="glyphicon glyphicon-bookmark"></i>glyphicon-bookmark</li>
          <li>
            <i class="glyphicon glyphicon-print"></i>glyphicon-print</li>
          <li>
            <i class="glyphicon glyphicon-camera"></i>glyphicon-camera</li>
          <li>
            <i class="glyphicon glyphicon-font"></i>glyphicon-font</li>
          <li>
            <i class="glyphicon glyphicon-bold"></i>glyphicon-bold</li>
          <li>
            <i class="glyphicon glyphicon-italic"></i>glyphicon-italic</li>
          <li>
            <i class="glyphicon glyphicon-text-height"></i>glyphicon-text-height</li>
          <li>
            <i class="glyphicon glyphicon-text-width"></i>glyphicon-text-width</li>
          <li>
            <i class="glyphicon glyphicon-align-left"></i>glyphicon-align-left</li>
          <li>
            <i class="glyphicon glyphicon-align-center"></i>glyphicon-align-center</li>
          <li>
            <i class="glyphicon glyphicon-align-right"></i>glyphicon-align-right</li>
          <li>
            <i class="glyphicon glyphicon-align-justify"></i>glyphicon-align-justify</li>
          <li>
            <i class="glyphicon glyphicon-list"></i>glyphicon-list</li>
          <li>
            <i class="glyphicon glyphicon-indent-left"></i>glyphicon-indent-left</li>
          <li>
            <i class="glyphicon glyphicon-indent-right"></i>glyphicon-indent-right</li>
          <li>
            <i class="glyphicon glyphicon-facetime-video"></i>glyphicon-facetime-video</li>
          <li>
            <i class="glyphicon glyphicon-picture"></i>glyphicon-picture</li>
          <li>
            <i class="glyphicon glyphicon-pencil"></i>glyphicon-pencil</li>
          <li>
            <i class="glyphicon glyphicon-map-marker"></i>glyphicon-map-marker</li>
          <li>
            <i class="glyphicon glyphicon-adjust"></i>glyphicon-adjust</li>
          <li>
            <i class="glyphicon glyphicon-tint"></i>glyphicon-tint</li>
          <li>
            <i class="glyphicon glyphicon-edit"></i>glyphicon-edit</li>
          <li>
            <i class="glyphicon glyphicon-share"></i>glyphicon-share</li>
          <li>
            <i class="glyphicon glyphicon-check"></i>glyphicon-check</li>
          <li>
            <i class="glyphicon glyphicon-move"></i>glyphicon-move</li>
          <li>
            <i class="glyphicon glyphicon-step-backward"></i>glyphicon-step-backward</li>
          <li>
            <i class="glyphicon glyphicon-fast-backward"></i>glyphicon-fast-backward</li>
          <li>
            <i class="glyphicon glyphicon-backward"></i>glyphicon-backward</li>
          <li>
            <i class="glyphicon glyphicon-play"></i>glyphicon-play</li>
          <li>
            <i class="glyphicon glyphicon-pause"></i>glyphicon-pause</li>
          <li>
            <i class="glyphicon glyphicon-stop"></i>glyphicon-stop</li>
          <li>
            <i class="glyphicon glyphicon-forward"></i>glyphicon-forward</li>
          <li>
            <i class="glyphicon glyphicon-fast-forward"></i>glyphicon-fast-forward</li>
          <li>
            <i class="glyphicon glyphicon-step-forward"></i>glyphicon-step-forward</li>
          <li>
            <i class="glyphicon glyphicon-eject"></i>glyphicon-eject</li>
          <li>
            <i class="glyphicon glyphicon-chevron-left"></i>glyphicon-chevron-left</li>
          <li>
            <i class="glyphicon glyphicon-chevron-right"></i>glyphicon-chevron-right</li>
          <li>
            <i class="glyphicon glyphicon-plus-sign"></i>glyphicon-plus-sign</li>
          <li>
            <i class="glyphicon glyphicon-minus-sign"></i>glyphicon-minus-sign</li>
          <li>
            <i class="glyphicon glyphicon-remove-sign"></i>glyphicon-remove-sign</li>
          <li>
            <i class="glyphicon glyphicon-ok-sign"></i>glyphicon-ok-sign</li>
          <li>
            <i class="glyphicon glyphicon-question-sign"></i>glyphicon-question-sign</li>
          <li>
            <i class="glyphicon glyphicon-info-sign"></i>glyphicon-info-sign</li>
          <li>
            <i class="glyphicon glyphicon-screenshot"></i>glyphicon-screenshot</li>
          <li>
            <i class="glyphicon glyphicon-remove-circle"></i>glyphicon-remove-circle</li>
          <li>
            <i class="glyphicon glyphicon-ok-circle"></i>glyphicon-ok-circle</li>
          <li>
            <i class="glyphicon glyphicon-ban-circle"></i>glyphicon-ban-circle</li>
          <li>
            <i class="glyphicon glyphicon-arrow-left"></i>glyphicon-arrow-left</li>
          <li>
            <i class="glyphicon glyphicon-arrow-right"></i>glyphicon-arrow-right</li>
          <li>
            <i class="glyphicon glyphicon-arrow-up"></i>glyphicon-arrow-up</li>
          <li>
            <i class="glyphicon glyphicon-arrow-down"></i>glyphicon-arrow-down</li>
          <li>
            <i class="glyphicon glyphicon-share-alt"></i>glyphicon-share-alt</li>
          <li>
            <i class="glyphicon glyphicon-resize-full"></i>glyphicon-resize-full</li>
          <li>
            <i class="glyphicon glyphicon-resize-small"></i>glyphicon-resize-small</li>
          <li>
            <i class="glyphicon glyphicon-plus"></i>glyphicon-plus</li>
          <li>
            <i class="glyphicon glyphicon-minus"></i>glyphicon-minus</li>
          <li>
            <i class="glyphicon glyphicon-asterisk"></i>glyphicon-asterisk</li>
          <li>
            <i class="glyphicon glyphicon-exclamation-sign"></i>glyphicon-exclamation-sign</li>
          <li>
            <i class="glyphicon glyphicon-gift"></i>glyphicon-gift</li>
          <li>
            <i class="glyphicon glyphicon-leaf"></i>glyphicon-leaf</li>
          <li>
            <i class="glyphicon glyphicon-fire"></i>glyphicon-fire</li>
          <li>
            <i class="glyphicon glyphicon-eye-open"></i>glyphicon-eye-open</li>
          <li>
            <i class="glyphicon glyphicon-eye-close"></i>glyphicon-eye-close</li>
          <li>
            <i class="glyphicon glyphicon-warning-sign"></i>glyphicon-warning-sign</li>
          <li>
            <i class="glyphicon glyphicon-plane"></i>glyphicon-plane</li>
          <li>
            <i class="glyphicon glyphicon-calendar"></i>glyphicon-calendar</li>
          <li>
            <i class="glyphicon glyphicon-random"></i>glyphicon-random</li>
          <li>
            <i class="glyphicon glyphicon-comment"></i>glyphicon-comment</li>
          <li>
            <i class="glyphicon glyphicon-magnet"></i>glyphicon-magnet</li>
          <li>
            <i class="glyphicon glyphicon-chevron-up"></i>glyphicon-chevron-up</li>
          <li>
            <i class="glyphicon glyphicon-chevron-down"></i>glyphicon-chevron-down</li>
          <li>
            <i class="glyphicon glyphicon-retweet"></i>glyphicon-retweet</li>
          <li>
            <i class="glyphicon glyphicon-shopping-cart"></i>glyphicon-shopping-cart</li>
          <li>
            <i class="glyphicon glyphicon-folder-close"></i>glyphicon-folder-close</li>
          <li>
            <i class="glyphicon glyphicon-folder-open"></i>glyphicon-folder-open</li>
          <li>
            <i class="glyphicon glyphicon-resize-vertical"></i>glyphicon-resize-vertical</li>
          <li>
            <i class="glyphicon glyphicon-resize-horizontal"></i>glyphicon-resize-horizontal</li>
          <li>
            <i class="glyphicon glyphicon-hdd"></i>glyphicon-hdd</li>
          <li>
            <i class="glyphicon glyphicon-bullhorn"></i>glyphicon-bullhorn</li>
          <li>
            <i class="glyphicon glyphicon-bell"></i>glyphicon-bell</li>
          <li>
            <i class="glyphicon glyphicon-certificate"></i>glyphicon-certificate</li>
          <li>
            <i class="glyphicon glyphicon-thumbs-up"></i>glyphicon-thumbs-up</li>
          <li>
            <i class="glyphicon glyphicon-thumbs-down"></i>glyphicon-thumbs-down</li>
          <li>
            <i class="glyphicon glyphicon-hand-right"></i>glyphicon-hand-right</li>
          <li>
            <i class="glyphicon glyphicon-hand-left"></i>glyphicon-hand-left</li>
          <li>
            <i class="glyphicon glyphicon-hand-up"></i>glyphicon-hand-up</li>
          <li>
            <i class="glyphicon glyphicon-hand-down"></i>glyphicon-hand-down</li>
          <li>
            <i class="glyphicon glyphicon-circle-arrow-right"></i>glyphicon-circle-arrow-right</li>
          <li>
            <i class="glyphicon glyphicon-circle-arrow-left"></i>glyphicon-circle-arrow-left</li>
          <li>
            <i class="glyphicon glyphicon-circle-arrow-up"></i>glyphicon-circle-arrow-up</li>
          <li>
            <i class="glyphicon glyphicon-circle-arrow-down"></i>glyphicon-circle-arrow-down</li>
          <li>
            <i class="glyphicon glyphicon-globe"></i>glyphicon-globe</li>
          <li>
            <i class="glyphicon glyphicon-wrench"></i>glyphicon-wrench</li>
          <li>
            <i class="glyphicon glyphicon-tasks"></i>glyphicon-tasks</li>
          <li>
            <i class="glyphicon glyphicon-filter"></i>glyphicon-filter</li>
          <li>
            <i class="glyphicon glyphicon-briefcase"></i>glyphicon-briefcase</li>
          <li>
            <i class="glyphicon glyphicon-fullscreen"></i>glyphicon-fullscreen</li>
          <li>
            <i class="glyphicon glyphicon-dashboard"></i>glyphicon-dashboard</li>
          <li>
            <i class="glyphicon glyphicon-paperclip"></i>glyphicon-paperclip</li>
          <li>
            <i class="glyphicon glyphicon-heart-empty"></i>glyphicon-heart-empty</li>
          <li>
            <i class="glyphicon glyphicon-link"></i>glyphicon-link</li>
          <li>
            <i class="glyphicon glyphicon-phone"></i>glyphicon-phone</li>
          <li>
            <i class="glyphicon glyphicon-pushpin"></i>glyphicon-pushpin</li>
          <li>
            <i class="glyphicon glyphicon-euro"></i>glyphicon-euro</li>
          <li>
            <i class="glyphicon glyphicon-usd"></i>glyphicon-usd</li>
          <li>
            <i class="glyphicon glyphicon-gbp"></i>glyphicon-gbp</li>
          <li>
            <i class="glyphicon glyphicon-sort"></i>glyphicon-sort</li>
          <li>
            <i class="glyphicon glyphicon-sort-by-alphabet"></i>glyphicon-sort-by-alphabet</li>
          <li>
            <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>glyphicon-sort-by-alphabet-alt</li>
          <li>
            <i class="glyphicon glyphicon-sort-by-order"></i>glyphicon-sort-by-order</li>
          <li>
            <i class="glyphicon glyphicon-sort-by-order-alt"></i>glyphicon-sort-by-order-alt</li>
          <li>
            <i class="glyphicon glyphicon-sort-by-attributes"></i>glyphicon-sort-by-attributes</li>
          <li>
            <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>glyphicon-sort-by-attributes-alt</li>
          <li>
            <i class="glyphicon glyphicon-unchecked"></i>glyphicon-unchecked</li>
          <li>
            <i class="glyphicon glyphicon-expand"></i>glyphicon-expand</li>
          <li>
            <i class="glyphicon glyphicon-collapse"></i>glyphicon-collapse</li>
          <li>
            <i class="glyphicon glyphicon-collapse-top"></i>glyphicon-collapse-top</li>
        </ul>
      </div>
    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <div class="bs-social">
          <ul class="bs-social-buttons">
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=assemble&repo=assemble&type=watch&count=true" width="100" height="20" title="Star on GitHub"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=assemble&repo=assemble&type=fork&count=true" width="100" height="20" title="Fork on GitHub"></iframe>
            </li>
            <li class="follow-btn">
              <a href="https://twitter.com/assemblejs" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @assemblejs</a>
            </li>
            <li class="tweet-btn">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://assemble.io" data-count="horizontal" data-via="assemblejs" data-related="jonschlinkert:Assemble core team.">Tweet</a>
            </li>
          </ul>
        </div>
        <p>Templates and data for Bootstrap&#x27;s components.</p>
        <p>Code licensed under the
          <a href="./license/" target="_blank">MIT License</a>, documentation under
          <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </p>
        <ul class="footer-links">
          <li>Currently v</li>
          <li class="muted">&middot;</li>
          <li> <a href="https://github.com/upstage/bootstrap-templates">Repo</a> </li>
          <li class="muted">&middot;</li>
          <li> <a href="https://github.com/upstage/bootstrap-templates/issues?state=open">Issues</a> </li>
          <li class="muted">&middot;</li>
          <li> <a href="http://assemble.io">Assemble</a> </li>
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="../../assets/js/holder.js"></script>
    <script src="../../assets/js/highlight.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script src="../../assets/js/application.js"></script>

    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t = document.createElement('script');
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
