---
title: "Btn Group"
---
<div class="btn-group" style="margin: 9px 0 5px;">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
