---
title: "Btn Group"
---
<div class="btn-group">
  <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">Default
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> <a href="#">Action</a> </li>
    <li> <a href="#">Another action</a> </li>
    <li> <a href="#">Something else here</a> </li>
    <li class="divider"></li>
    <li> <a href="#">Separated link</a> </li>
  </ul>
</div><!-- /btn-group -->

<div class="btn-group">
  <button data-toggle="dropdown" type="button" class="btn btn-primary dropdown-toggle">Primary
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> <a href="#">Action</a> </li>
    <li> <a href="#">Another action</a> </li>
    <li> <a href="#">Something else here</a> </li>
    <li class="divider"></li>
    <li> <a href="#">Separated link</a> </li>
  </ul>
</div><!-- /btn-group -->

<div class="btn-group">
  <button data-toggle="dropdown" type="button" class="btn btn-success dropdown-toggle">Success
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> <a href="#">Action</a> </li>
    <li> <a href="#">Another action</a> </li>
    <li> <a href="#">Something else here</a> </li>
    <li class="divider"></li>
    <li> <a href="#">Separated link</a> </li>
  </ul>
</div><!-- /btn-group -->

<div class="btn-group">
  <button data-toggle="dropdown" type="button" class="btn btn-info dropdown-toggle">Info
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> <a href="#">Action</a> </li>
    <li> <a href="#">Another action</a> </li>
    <li> <a href="#">Something else here</a> </li>
    <li class="divider"></li>
    <li> <a href="#">Separated link</a> </li>
  </ul>
</div><!-- /btn-group -->

<div class="btn-group">
  <button data-toggle="dropdown" type="button" class="btn btn-warning dropdown-toggle">Warning
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> <a href="#">Action</a> </li>
    <li> <a href="#">Another action</a> </li>
    <li> <a href="#">Something else here</a> </li>
    <li class="divider"></li>
    <li> <a href="#">Separated link</a> </li>
  </ul>
</div><!-- /btn-group -->

<div class="btn-group">
  <button data-toggle="dropdown" type="button" class="btn btn-danger dropdown-toggle">Danger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> <a href="#">Action</a> </li>
    <li> <a href="#">Another action</a> </li>
    <li> <a href="#">Something else here</a> </li>
    <li class="divider"></li>
    <li> <a href="#">Separated link</a> </li>
  </ul>
</div><!-- /btn-group -->
