<div class="banner">
  <div class="container">
    <strong>
      <a href="{{ site.repo }}/blob/master/CHANGELOG.md">See what's new in v{{pkg 'version'}}</a>
    </strong>
    {{text}}
  </div>
</div>
