---
title: "Bs Example Tooltips"
---
<div class="bs-example-tooltips">
  <button data-toggle="tooltip" data-placement="left" type="button" class="btn btn-default" title="Tooltip on left">Tooltip on left</button>
  <button data-toggle="tooltip" data-placement="top" type="button" class="btn btn-default" title="Tooltip on top">Tooltip on top</button>
  <button data-toggle="tooltip" data-placement="bottom" type="button" class="btn btn-default" title="Tooltip on bottom">Tooltip on bottom</button>
  <button data-toggle="tooltip" data-placement="right" type="button" class="btn btn-default" title="Tooltip on right">Tooltip on right</button>
</div>
