---
title: "Dropdown Clearfix"
---
<div class="dropdown clearfix">
  <a data-toggle="dropdown" id="dropdownMenu2" href="#" role="button" class="sr-only dropdown-toggle">Dropdown
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
    <li role="presentation" class="dropdown-header">Dropdown header</li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Action</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Another action</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Something else here</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="dropdown-header">Dropdown header</li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Separated link</a>
    </li>
  </ul>
</div>
