---
title: "Alert Block Danger Fade In"
---
<div class="alert alert-block alert-danger fade in">
  <button data-dismiss="alert" type="button" class="close" aria-hidden="true">&times;</button>
  <h4>Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-danger" href="#">Take this action</a>
    <a class="btn btn-default" href="#">Or do this</a>
  </p>
</div>
