---
title: "Alert Dismissable"
---
<div class="alert alert-dismissable">
  <button data-dismiss="alert" type="button" class="close" aria-hidden="true">&times;</button>
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>
