---
title: "Alert Warning Fade In"
---
<div class="alert alert-warning fade in">
  <button data-dismiss="alert" type="button" class="close" aria-hidden="true">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>
